.EntertainmentFeedSearchContainer {
    text-align: center;
    /* Additional styling if needed */
  }
  
  .EntertainmentFeedSearchInput {
    font-size: 1em;
    border-radius: 2vw;
    border: 2px solid #282828; /* Adjusted border size */
    width: 50%;
    max-width: 500px; /* Max width for control */
    height: 40px; /* Fixed height */
    margin-top: 20px;
    padding: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .EntertainmentFeedSearchInput:hover, .EntertainmentFeedSearchInput:focus {
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  
  .EntertainmentFeedHeader {
    margin-top: 30px;
    font-size: clamp(2em, 5vw, 3em); /* Responsive font size */
    font-weight: 600;
    /* ... */
  }
  
  .EntertainmentFeedHobbieButtonContainer {
    margin-top: 20px;
    /* ... */
  }
  
  .EntertainmentFeedHobbyButton {
    padding: 10px 15px;
    font-size: 1em; /* Adjusted for readability */
    margin: 5px;
    width: auto; /* Auto width for content fit */
    /* ... */
  }
  
  /* ... rest of your styles ... */
  
  @media screen and (max-width: 767px) {
    .EntertainmentFeedSearchInput, .EntertainmentFeedHobbyButton {
      width: 80%; /* Adjust width for mobile */
      font-size: 0.9em; /* Adjust font size */
    }
    /* ... */
  }
  