.EntertainmentFeedSearchContainer{
    text-align: center;
}

.EntertainmentFeedSearchInput{
    font-size: 1em;
    border-radius: 2vw;
    border: 0.1vw solid #282828;
    width: 50vw;
    height: 3vh;
    margin-top: 1vw;
    padding: 0.5vw;
    padding-left: 2vw;
    transition: all 0.25s ease;
}

.EntertainmentFeedSearchInput:hover{
    transform: scale(1.01);
    border: 0.2vw solid #282828;
    color: #282828;
}

.EntertainmentFeedHeader{
    margin-top: 3vw;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

.EntertainmentFeedHobbieButtonContainer {
    margin-top: 1vw;
    text-align: center;
  }

.EntertainmentFeedHobbyButton {
    padding: 0.5vw;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.2vw;
    background-color: #B1DBFC;
    border: 0.1vw solid #282828;
    border-radius: 2vw;
    transition: all 0.25s ease;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    width: 10vw;
    transition: all 0.25s ease;
}

.EntertainmentFeedHobbyButton:hover{
    background: #5CB3F8;
    color: #282828;
    transform: scale(1.1);
    border: 0.2vw solid #282828;
    cursor: pointer;
    font-weight: 600;
  }

  .EntertainmentFeedHobbieVideoStack{
    margin-left: 5vw;
    margin-right: 5vw;
  }