.SearchContainer{
    background-color: white;
    display: grid;
    place-items: center;
    padding: 2vw;
    margin-top: 8vw;
}


.UserProfileImageElement{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0.2vw solid #5CB3F8;
}

.UserDisplayNameElement{
    font-size: 1.5em;
    font-weight: 600;
}

.UserDisplayRewardPointsElement{
    margin-top: -0.5vw;
    border: 0.1vw solid #FF4756;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20vw;
    font-size: 1em;
    color: #FF4756;
    transition: all 0.25s ease;
}

.UserDisplayRewardPointsElement:hover{
    transform: scale(1.1);
    background-color: #FF4756;
    color: #282828;
    cursor: pointer;
    font-weight: 600;
}

.SearchBarElement{
    font-size: 1.5em;
    border-radius: 2vw;
    border: 0.1vw solid #282828;
    width: 50vw;
    height: 5vh;
    margin-top: 1vw;
    padding: 0.5vw;
    padding-left: 2vw;
    transition: all 0.25s ease;
}

.SearchBarElement:hover{
    transform: scale(1.1);
    border: 0.2vw solid #282828;
    color: #282828;
}

.SearchButtonElement{
    margin-top: 1.5vw;
    padding: 0.5vw;
    text-align: center;
    width: 15vw;
    border-radius: 2vw;
    background-color: #B1DBFC;
    border: 0.1vw solid #282828;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2em;
    font-weight: 600;
    color: #282828;
    transition: all 0.25s ease;
}

.SearchButtonElement:hover{
    background: #5CB3F8;
    color: #282828;
    transform: scale(1.1);
    border: 0.2vw solid #282828;
    cursor: pointer;
}