body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #fff; /* Appropriate background color */
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  padding: 20px;
}

.user-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.user-profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.user-profile-picture {
  background: #FFC0CB; /* Placeholder or adjust for actual image */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.user-profile-name {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #333;
  margin: 0;
}

.user-profile-hobbies {
  align-self: flex-start;
  padding-left: 20px;
  width: 100%;
}

.user-profile-hobbies h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.user-hobbies-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.user-hobby {
  background-color: #f0f0f0;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
}

.user-profile-buttons {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.user-profile-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #5CB3F8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-profile-buttons button:hover {
  background-color: #3A7CA5;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media screen and (max-width: 767px) {
  .user-profile-name, .user-hobby, .user-profile-buttons button {
    font-size: smaller;
  }
  /* Additional mobile-specific adjustments */
}
