.VideoDetailsContainer{
  text-align: center;
}

.YoutubePlayerElement{
  margin-top: 2vw;
}

.YoutubePlayerVideoTitle{
  font-size: 1.5em;
  margin-top: 0.5vw;
  font-weight: 600;
}

.YoutubePlayerCreatorTitle{
  font-size: 1em;
  margin-top: 0.5vw;
}

.YoutubePlayerButtonStack{
  margin-top: 1.5vw;
}

.WatchExperienceButtons{
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: #B1DBFC;
  border: none;
  font-size: 1.5em;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: all 0.25s ease;
}

.WatchExperienceButtons:hover{
  background: #5CB3F8;
  color: #282828;
  transform: scale(1.5);
  border: 0.2vw solid #282828;
  cursor: pointer;
}