.VideoDetailsContainer {
  text-align: center;
  /* Additional styling if needed */
}

.YoutubePlayerElement {
  margin-top: 20px; /* Fixed margin for consistency */
}

.YoutubePlayerVideoTitle {
  font-size: 1.5em;
  margin-top: 10px; /* Adjusted margin */
  font-weight: 600;
}

.YoutubePlayerCreatorTitle {
  font-size: 1em;
  margin-top: 10px;
}

.YoutubePlayerButtonStack {
  margin-top: 20px;
  display: inline-block; /* Align buttons in a row */
}

.WatchExperienceButtons {
  width: 45px; /* Adjusted for consistent sizing */
  height: 45px;
  border-radius: 50%;
  background-color: #B1DBFC;
  border: none;
  font-size: 1.5em;
  margin: 10px; /* Uniform margin */
  transition: all 0.25s ease;
}

.WatchExperienceButtons:hover {
  background: #5CB3F8;
  color: #282828;
  transform: scale(1.1); /* Subtle scale */
  cursor: pointer;
}

.YoutubePlayerRewardPoints {
  width: 250px; /* Adjusted for consistent sizing */
  height: 45px;
  background-color: #B1DBFC;
  border: black;
  font-size: 1.0em;
  margin: 10px; /* Uniform margin */
  transition: all 0.25s ease;
  align-items: center;
  align-self: center;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .YoutubePlayerVideoTitle, .YoutubePlayerCreatorTitle {
    font-size: 1.2em; /* Adjust font size for mobile */
  }
  .WatchExperienceButtons {
    width: 40px; /* Adjust size for mobile */
    height: 40px;
  }
}
