code/frontend/node_modules/
code/frontend/src/components/ApiKey.js
code/frontend/package-lock.json
code/frontend/package.json
code/tests/cypress/screenshots/
node_modules/
code/node_modules/
code/backend/configs/__pycache__/
code/backend/helpers/__pycache__/
code/backend/__pycache__/
node_modules/
package-lock.json
.DS_Store
.vscode/
code/backend/.idea/
