code/frontend/node_modules/
code/frontend/src/components/ApiKey.js
code/frontend/package-lock.json
code/tests/cypress/screenshots/
code/backend/configs/__pycache__/*
code/backend/helpers/__pycache__/*